{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Items List</h1>
    <table class="table items">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item_name, item_details in data.items %}
            <tr class="item-row">
                <td class="product_name">{{ item_details.Name }}</td>
                <td class="product_price">{{ item_details.Price }}</td>
                <td class="product_quantity">{{ item_details.Quantity }}</td>
                <td class="total-cell"></td> <!-- Initial total -->
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>Total Items: <span class="total-items">0</span></th>
                <th>Total Price: <span class="total-price">0.00</span></th>
            </tr>
        </tfoot>
    </table>
    <script src="{% static 'js/details_invoice.js' %}"></script>
{% endblock content %}
