{% extends 'base.html' %}
{% load static %}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/products/details.css '%}">
<div class="super-mega-container">
	<div class="super-container">
		<div class="image-section">
			<img src="{{ object.product_image.url }}" alt="image here">
		</div>
		<div class="small-details">
		 	<ul class="list-inline">
		 		<li class="list-inline-items name">
		 			{{ object.name }}
		 		</li>
		 		<li class="list-inline-items category">
		 			{{ object.category }}
		 		</li>
		 		<li class="list-inline-items">
		 			<span> Rated : </span>{{ total_rate }} ( {{ counted_stars }} reviews )
		 		</li>
		 		<li class="list-inline-items price">
		 			{{ object.price }} <span>GH</span>
		 		</li>
		 		<li class="list-inline-items">
		 			<span> Quantity Available : </span>{{ object.quantity }}
		 		<li class="list-inline-items">
					<button type="button" class="update_btn">
						<a href="{% url 'products_update' object.id %}">
							<i class="fa-regular fa-pen-to-square"></i>
						 EDIT </a>
					</button>
					<button type="button" class="delete_btn">
						<a href="{% url 'products_delete' object.id %}">
							<i class="fa-solid fa-trash"></i>
						 delete </a>
					</button>		
		 		</li>
		 	</ul>
		</div>
	</div>
	<div class="details-container">
		<h4>Product Description</h4>
		<p>{{ object.details }}</p>
	</div>
	<div class="rating-section">
		<form method="POST" action="." class="rating-and-review">
			<h4>Drop a Review </h4>
			{% csrf_token %}
			<div class="radio-section">
				<input type="radio" name="star-selection" value="1" required id="radio1">
				<input type="radio" name="star-selection" value="2" required id="radio2">
				<input type="radio" name="star-selection" value="3" required id="radio3">
				<input type="radio" name="star-selection" value="4" required id="radio4">
				<input type="radio" name="star-selection" value="5" required id="radio5">
			</div>
			<div class="labels"> 
				<ul class="list-inline">
					<li class="list-inline-item">
						<label for="radio1">
							<i class="fa-regular fa-star" ></i>
						</label>
					</li>
					<li class="list-inline-item">
						<label for="radio2">
							<i class="fa-regular fa-star"></i>
						</label>
					</li>
					<li class="list-inline-item">
						<label for="radio3">
							<i class="fa-regular fa-star"></i>
						</label>
					</li>
					<li class="list-inline-item">
						<label for="radio4">
							<i class="fa-regular fa-star"></i>
						</label>
					</li>
					<li class="list-inline-item">
						<label for="radio5">
							<i class="fa-regular fa-star"></i>
						</label>
					</li>
			</div>


			<div class="comment-section">
				<span>What do you think of this Product</span>
				<textarea name="review_text" required></textarea>
			</div>
			<button class="submit">Submit Review</button>

		</form>
	</div>
	<div class="product-reviews">
		<p> Reviews </p>
		<ul>
		{% for review in reviews %}
				<li> {{ review.comment }} </li>
		{% endfor %}
		</ul>
	</div>
</div>
<script src="{% static 'js/details.js' %}"></script>
{% endblock content %}