{% extends 'base.html' %}
{% load static %}
{% block content %} 
<link rel="stylesheet" href="{% static 'css/products/details.css '%}">
<div class="super-mega-container">
	<div class="super-container">
		<div class="image-section">
			<img src="{{ object.product_image.url }}" alt="image here">
		</div>
		<div class="small-details">
		 	<ul class="list-inline">
		 		<li class="list-inline-items name">
		 			{{ object.name }}
		 		</li>
		 		<li class="list-inline-items category">
		 			{{ object.category }}
		 		</li>
		 		<li class="list-inline-items">
		 			<span> Rated : </span>{{ total_rate }} ( {{ counted_stars }} reviews )
		 		</li>
		 		<li class="list-inline-items price">
		 			{{ object.price }} <span>GH</span>
		 		</li>
		 		<li class="list-inline-items">
		 			<span> Quantity Available : </span>{{ object.quantity }}
		 		<li class="list-inline-items">
					<button type="button" class="update_btn">
						<a href="{% url 'products_update' object.id %}"> EDIT </a>
					</button>
					<button type="button" class="delete_btn">
						<a href="{% url 'products_delete' object.id %}"> delete </a>
					</button>		
		 		</li>
		 	</ul>
		</div>
	</div>
	<div class="details-container">
		<h1>Product Description</h1>
		<p>{{ object.details }}</p>
	</div>
	<div class="rating-section">
		<form method="POST" action=".">
			{% csrf_token %}
			<input type="radio" name="star-selection" value="1" required>
			<input type="radio" name="star-selection" value="2" required>
			<input type="radio" name="star-selection" value="3" required>
			<input type="radio" name="star-selection" value="4" required>
			<input type="radio" name="star-selection" value="5" required>

			<div class="comment-section">
				<span>What do you think of this Product</span>
				<textarea name="review_text"></textarea>
			</div>
			<button class="submit">Submit Review</button>

		</form>
	</div>
	<div class="product-reviews">
		<p> Reviews </p>
		<ul>
		{% for review in reviews %}
			<li> {{ review.comment }} </li>
		{% endfor %}
		</ul>
	</div>
</div>
<i class="fa fa-user"></i>
{% endblock content %}