{% extends 'base.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/products/read.css' %}">
	<button type="button" class="add_product_btn"><a href="{% url 'products_create' %}"> <i class="fa-solid fa-cubes"></i> add new product </a></button>
	<ul class="list-inline products">
		{% for obj in object %}
			<li class="list-inline-items shadow-sm">
				<ul class="inner-list">
					{% if obj.product_image %}
					<li class="inner-list-items img">
						<img src="{{ obj.product_image.url }}" alt="image here">
					</li>
					{% else %}
					<li class="inner-list-items img">
						<img src="" alt="image here">
					</li>
					{% endif %}
					<li class="inner-list-items name">
						<a href="{% url 'products_details' obj.id %}"> {{ obj }} </a>
					</li>
					<li class="inner-list-items price">
						{{ obj.price }} USD
					</li>
					<li class="inner-list-items status">
						{{ obj.status }}
					</li>
					<li class="inner-list-items button">
					<button type="button" class="update_btn">
						<a href="{% url 'products_update' obj.id %}">
							<i class="fa-regular fa-pen-to-square"></i>
						 EDIT </a>
					</button>
					<button type="button" class="delete_btn">
						<a href="{% url 'products_delete' obj.id %}">
							<i class="fa-solid fa-trash"></i>
						 delete </a>
					</button>	
					</li>
				</ul>
			</li>
		{% endfor %}
	</ul>
{% endblock content%} 