{% extends 'base.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="{% static 'css/category/read.css' %}" >
	<ul class="category_list_inline">
		{% for obj in object %}
			<li class="category_list_inline_item"><a href="{% url 'category_details' obj.id %}"> {{ obj }} </a></li>
		{% endfor %}
	</ul>
{% endblock content%}
{% block section_btns %}
		<button type="button" class="add_category_btn" style="transform: scale(.9);"><a href="{% url 'category_create' %}"> <i class="fa-solid fa-plus"></i> add new category</a></button>
{% endblock section_btns %}