@import './config.css';

body {
	display: flex;
	flex-direction: row;
}

nav {
	height: 100vh;
	width: 200px;
	display: flex;
	background: var(--tertiary-color);
}

nav .list-inline {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 50px;
	gap: 8px;
}

nav .list-inline .list-inline-item {
	gap: 10px;
}

nav .list-inline .list-inline-item .nav-link {
	font-family: var(--link-font);
	font-weight: 500;
	font-size: .9rem;
	color: var(--link-hover);
	letter-spacing: -0.5px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 8px 15px;
}

nav .list-inline .list-inline-item:hover {
	background: var(--secondary-color);
	border-radius: 5px;
}

nav .list-inline .list-inline-item:hover .nav-link {
	color: white;
}


#content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
}


#content .mini-nav {
	width: 100%;
	box-shadow: 0 0 10px -1px var(--link-hover);
	display: flex;
	margin-bottom: 10px;
	align-content: center;
}

#content .mini-nav .store_name {
	font-size: 1.5rem;
	color: var(--link-color);
	font-family: var(--link-font);
	padding: 0 20px;
}

