@import './config.css';

body {
	display: flex;
	flex-direction: row;
	background: #d5d5d5;
}

nav {
	height: 100vh;
	width: 200px;
	border: 1px solid black;
	display: flex;
}

nav .list-inline {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 20px;
	gap: 8px;
}

nav .list-inline .list-inline-item {
	gap: 10px;
}

nav .list-inline .list-inline-item .nav-link {
	font-family: var(--link-font);
	font-weight: 400;
	font-size: .9rem;
	color: var(--link-color);
	letter-spacing: -0.5px;
}

nav .list-inline .list-inline-item:hover .nav-link {
	color: var(--link-hover);
	font-weight: 500;
}

#content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
}


#content .mini-nav {
	width: 100%;
	box-shadow: 0 0 10px -1px var(--link-hover);
	display: flex;
	margin-bottom: 10px;
	align-content: center;
}

#content .mini-nav .store_name {
	font-size: 1.5rem;
	color: var(--link-color);
	font-family: var(--link-font);
	padding: 0 20px;
}

