/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #C1B0FF;
	--secondary-color: #3844D1;
	--tertiary-color: #B3B2FB;
	--danger-color: #FBB2B2;
	--danger-color2: #D13838;
	--link-color: #797979;
	--link-hover: #171717;
	--primary-font: "roboto";
	--secondary-font: ;
	--link-font: "lato";
}


