@import '../config.css';

.category_list_inline {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	gap: 1em;
}

.category_list_inline .category_list_inline_item {
	height: 150px;
	width: 250px;
	border: 1px solid black;
	object-fit: contain;
	display: flex;
	padding: 10px;
	border-radius: 5px;
	transition: 200ms ease;
}

.category_list_inline .category_list_inline_item a {
	text-decoration: none;
	height: 100%;
	width: 100%;
	color: var(--link-color);
	text-transform: capitalize;
	font-weight: 500;
	transition: 200ms ease;
}

.category_list_inline .category_list_inline_item:hover {
	transform: scale(1.05);
	transition: 200ms ease;
}

.add_category_btn {
	background: var(--tertiary-color);
	height: 40px;
	border: none;	
	border-radius: 5px;
	margin-bottom: 30px;
}

.add_category_btn a {
	text-decoration: none;
	padding: 20px;
	color: var(--secondary-color);
	font-family: var(--primary-font);
	font-size: .85rem;
	text-transform: uppercase;
	font-weight: 500;
}
