<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Base</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
	<nav>
		<ul class="list-inline"> 
			<li class="list-inline-item"><a href="#" class="nav-link">Dashboard </a></li>
			<li class="list-inline-item"><a href="{% url 'products_read' %}" class="nav-link">Products</a></li>
			<li class="list-inline-item"><a href="{% url 'category_read' %}" class="nav-link">Categories</a></li>
		</ul>
	</nav>
	<section id="content">
		<div class="mini-nav">
				<div class="store_name">STORE MANAGEMENT</div>
		</div>
		<main class="container">
			{% block content %}
				This is the base.html 
			{% endblock content %}
		</main>
		<footer></footer>
	</section>
</body>
</html>